<nav>
    <img src="https://img.pngio.com/collection-of-free-transparent-logo-book-download-on-ui-ex-png-books-black-and-white-400_400.png"/>
    <a routerLink="/" [ngClass]="isInBookModule ? 'active' : ''">Books</a>
    <a routerLink="/authentication/login" routerLinkActive="active" *ngIf="!userIsAuthenicated">Login</a>
    <a routerLink="/authentication/register" routerLinkActive="active" *ngIf="!userIsAuthenicated">Register</a>
    <a routerLink="/" (click)="onLogout()"  *ngIf="userIsAuthenicated">Logout</a>
    <a routerLink="/admin" routerLinkActive="active">Admin</a>
</nav>


